html,
body,
#root {
  height: 100%;
  width: 100%; }
  html .App,
  body .App,
  #root .App {
    height: 100%;
    width: 100%; }

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .app-container .footer {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 30px; }

.two-screens-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 10px; }
  @media screen and (max-width: 1400px) {
    .two-screens-container {
      flex-direction: column; } }
  .two-screens-container .screen {
    align-content: flex-start;
    padding: 30px;
    width: 100%; }
    .two-screens-container .screen:first-child {
      margin-right: 10px; }
  .two-screens-container .left {
    text-align: left;
    overflow: auto; }
    .two-screens-container .left textarea {
      min-height: 150px; }
  .two-screens-container .right .commit-message-formatted {
    background: lightgray;
    text-align: left;
    white-space: pre-wrap;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    min-height: 94%; }
